#todo-editor { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 500;
    height: 300px;
    width: 0px;
    position: fixed;
}

#editor { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 500;
    height: 300px;
    width: 800px;
    position: relative;
}

