// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body, html {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.big-video-wrap
{
    position: fixed;
    top: -5px;
    margin: 0px;
    padding: 0px;
}

.main
{
    position: fixed;
    top: 100px;
    left: 100px;
    color: white;
    -vendor-animation-duration: 5s;
    -vendor-animation-delay: 5s;
    -vendor-animation-iteration-count: infinite;
    border:5px solid white;
    padding: 10px;
}
